<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/1a30ea7d-0903-41fb-a224-fc79c8e4e3db/resourceGroups/clinica-integrada/providers/Microsoft.ApiManagement/service/APIClinicaIntegrada/apis/api-clinica-integrada</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/1a30ea7d-0903-41fb-a224-fc79c8e4e3db/resourceGroups/clinica-integrada/providers/Microsoft.Web/sites/apiclinicaintegrada</ResourceId>
    <ResourceGroup>clinica-integrada</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://apiclinicaintegrada-d3hrghc2c6h8cvc8.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ec6bad0e-4ee6-4775-8090-156e2f9dfa52</ProjectGuid>
    <PublishUrl>https://apiclinicaintegrada-d3hrghc2c6h8cvc8.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>